body {
  background: #f2f5f7;
  font-size: 12px;
  font-family: sans-serif;
  min-width: 1200px; }

div {
  box-sizing: border-box; }

div.config {
  display: block;
  width: 80%;
  float: left;
  background: #f7f5f2;
  border: 1px solid #aaa;
  margin: 2px; }
  div.config div {
    width: 300px;
    float: left; }

#map {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 300px;
  height: 300px;
  border: 1px solid white;
  z-index: 10;
  box-shadow: 3px 3px 3px #aaa;
  /*   visibility:hidden; */ }

div.entry {
  background: white;
  border: 1px solid #aaa;
  width: 400px;
  /*   min-height:50px; */
  height: 50px;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  display: table; }
  div.entry div.entry div.b {
    position: relative;
    width: 100%;
    height: 100%; }
  div.entry div.compass {
    /*     float:left; */
    font-size: 40px;
    width: 40px;
    cursor: pointer;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    /*     position:relative; */
    /*     top:50%; */
    /*     transform: translateY(-50%); */ }
  div.entry div.dest {
    /*     display:inline-block; */
    font-size: 16px;
    width: 250px;
    margin: auto 8px;
    height: 100%;
    /*     float:left; */
    display: table-cell;
    vertical-align: middle;
    /*     position:relative; */
    /*     top:50%; */
    /*     transform: translateY(-50%); */ }
  div.entry div.dest span {
    font-size: 80%; }
  div.entry div.ref {
    /*     float:left; */
    /*     display:inline-block; */
    /*     position:relative; */
    /*     top:50%; */
    width: 30px;
    display: table-cell;
    vertical-align: middle;
    /*     text-align:center; */
    /*     transform: translateY(-50%); */ }
  div.entry div.symbol {
    position: absolute;
    height: 30px;
    top: 3px;
    right: 5px; }
  div.entry div.symbol div {
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0; }
  div.entry div.industrial {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/4/4e/RWB_Industriegebiet.svg"); }
  div.entry div.park_and_ride {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/9/94/Sinnbild_P-R.svg"); }
  div.entry div.parking {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/0/0f/UK_traffic_sign_801.svg"); }
  div.entry div.fuel {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/d/d3/Zeichen_361-50.svg"); }
  div.entry div.stadium {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/f/fb/Stadium_icon.svg"); }
  div.entry div.airport {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/5/51/Italian_traffic_signs_-_icona_aeroporto.svg"); }
  div.entry div.restaurant {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/4/4d/Zeichen_376.svg"); }
  div.entry div.toilets {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/d/d7/Zeichen_378.svg"); }
  div.entry div.motorway, div.entry div.highway {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/2/2a/Zeichen_330_-_Autobahn%2C_StVO_1992.svg"); }
  div.entry div.hospital {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/9/94/RWB_Krankenhaus.svg"); }
  div.entry div.train_station {
    background-color: white;
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/3/33/Fernbahn_Signet_HVV.svg"); }
  div.entry div.ferry {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/92/Ferry.png"); }
  div.entry div.centre {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/2a/Italian_traffic_signs_-_icona_centro.svg"); }
  div.entry div.dura {
    position: absolute;
    right: 5px;
    bottom: 2px;
    line-height: normal; }

div.details {
  background: white;
  border: 1px solid #aaa;
  width: 400px;
  margin-top: 5px;
  text-align: right;
  padding: 5px; }
  div.details span {
    display: block; }

/*# sourceMappingURL=style.css.map */
